<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">SzaboDev</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i>
          <span> Home</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a [routerLink]="['/about']">
          <i class="fa fa-key" aria-hidden="true"></i><span> About</span>
        </a>
      </li>
      <li>
        <a href="#" (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span><span> Logout</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
